:root {
  --primary-color: #286adc;
  --lighter-gray: #a8a8a8;
  --greyish: #888888;
  --light-gray: #727272;
  --gray: #3a3a3a;
  --dark-gray: #242424;

  --error-red: #eb0201;
  --warm-info: #fff2d7;
  --dark-background: #3d4145;

  --success-green: #4bb543;
}
